* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
}

.content-purple {
    display: grid;
    grid-template-columns: 650px 650px;
    justify-content: center;
    align-content: center;
    background-color: #D7D4FF;
    height: 500px;
    width: 100%;

}

.content-purple-title {
    margin-bottom: 20px;
    font-size: 35px;
}

.content-purple-paragraph {
    margin-bottom: 20px;
    color: #555555;
    font-size: 20px;
}

.content-text-button {
    margin-top: 60px;
    width: 300px;
    margin-left: 100px;
}

.content-button {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: none;
    justify-content: center;
    align-content: center;
    background-color: #6c63FF;
    color: rgb(255, 255, 255);
    margin-top: 20px;

}

.content-cards {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 450px;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    height: 400px;
    width: 338px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card-content {
    display: grid;
    width: 300px;
    margin: 10px;
}

.content-contact {
    background-color: #D7D4FF;
    display: grid;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 50px;
}

.input,
.input-message {
    border-radius: 6px;
    border: none;
    width: 450px;
    margin: 20px;

}

.input {
    height: 55px;
    padding: 5px;
}

.input-message {
    padding-bottom: 160px;
    padding-top: 20px;
    padding-left: 10px;
}


.input-message::placeholder {
    padding-bottom: 20px;



}

.contact-button {
    width: 450px;
    height: 40px;
    background-color: #6c63FF;
    border: none;
    margin: 20px;
    color: #ffffff;
}




@media screen and (min-width:390px) and (max-width:719px) {

    .content-purple {
        grid-template-columns: 320px;
    }

    .content-text-button {
        width: 300px;
        margin-left: 0;
        margin: 10px;
    }

    .content-purple-title {
        font-size: 20px;
    }

    .content-purple-paragraph {
        font-size: 15px;
    }

    .content-purple-img {
        height: 250px;
        width: 250px;
        margin-top: 20px;
        margin-left: 10px;

    }


    .content-cards {
        margin: 0;
        grid-template-columns: 310px;
        grid-template-rows: 450px 450px 450px 450px 450px 550px;

    }

    .card {
        margin: 11vh;
        height: 400px;
        width: 200px;
    }

    .card-img {
        height: 200px;
        width: 200px;
    }

    .content-card-title {
        font-size: 25px;
    }

    .content-card-paragraph {
        font-size: 20px;
    }

    .card-content {
        width: 200px;
        margin: 10px;
    }


    .input,
    .input-message {
        border-radius: 6px;
        border: none;
        width: 250px;
        margin: 10px;


    }

    .contact-button {
        width: 250px;
        height: 40px;
        background-color: #6c63FF;
        border: none;
        margin: 20px;
        color: #ffffff;
    }

}


@media screen and (min-width:720px) and (max-width:1124px) {
    .content-purple {
        display: grid;
        grid-template-columns: 450px 450px;
        justify-content: center;
    }

    .content-purple-img {
        height: 300px;
        width: 300px;
    }

    .content-cards {
        grid-template-columns: 310px;
        grid-template-rows: 450px 450px 450px 450px 450px 550px;

    }
}